# /etc/systemd/system/pdnsseed.service

[Unit]
Description=Peercoin dns seed service - mainnet
After=network.target

[Service]
ExecStart=/usr/bin/dnsseed -h $DOMAIN_NAME -n $IP_ADDRESS -t 32
WorkingDirectory=/var/lib/dnsseed-mainnet
KillMode=process
Restart=always
## security
PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target